* {
    margin: 0%;
    padding: 0%;
}

.cabeçalho{
    background-color: lemonchiffon;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho_imagem{
    width: 12%;
}

.cabeçalho_titulo{
    font-size: 34px;
}

.cabeçalho_imagem_item{
    margin: 25px 25px 25px 25px;
    font-size: 4px;
}

.apresentaçao_trabalho{
    background-color: linear-gradient(lemonchiffon, rgb(197, 67, 34);
    display: flex;
}

.arvore_imagem{
    width: 8%;
}