* {
    margin: 0%;
    padding: 0%;
}

.cabeçalho{
    background-color: lemonchiffon;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho_imagem{
    width: 12%;
}

.cabeçalho_titulo{
    font-size: 34px;
}

.cabeçalho_imagem_item{
    margin: 15px 0 15px 0;
    font-size: 4px;
}
