* {
    margin: 0%;
    padding: 0%;
}

.cabeçalho{
    background-color: lemonchiffon;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho_imagem{
    width: 19%;
}

.cabeçalho_titulo{
    font-size: 80px;
}

.cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
}

.apresentaçao_trabalho{
    background-image: linear-gradient(lemonchiffon, #f84526);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.titulo_apresentaçao_trabalho{
    font-size: 37px;
}

.texto_apresentaçao_trabalho{
    font-size: 27px;
}

.imagem_arvore{
    width: 19%;
}

.melhores{
    background-color: #f84526;
}

.titulo_melhores{
    font-size: 37px;
}

.corpo_desenvolvimento_planta{
    background-color: #d42405;
}

.desenvolvimento_planta_geral{
    margin: 10px 10px;
}

.desenvolvimento_planta{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.corpo_artigos{
    background-color: #6e1212;
    color: white;
}

.desenvolvimento_artigos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desenvolvimento_planta_img{
    width: 35%;
}

.artigos_img{
    width: 30%;
}

.rodape{
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagens_rodape{
    width: 8%;
}